body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header, footer {
    text-align: center;
    padding: 1em;
background-color: #007bff;
color: white;
border-radius: 8px;
margin-bottom: 2em;
}

main {
width: 100%;
max-width: 1500px;
margin: auto;
padding-bottom: 2em;
padding-right: 10em;
}

h1 {
font-size: 2.5rem;
margin-bottom: 0.5em;
}

h2 {
font-size: 2rem;
color: #333;
margin-top: 1em;
}

section {
    margin: 2em auto; /* Centra la sección horizontalmente y añade margen arriba y abajo */
    padding: 1em; /* Mantiene el padding igual en todos los lados */
	padding-left:1em;
    width: 114%; /* Establece un ancho máximo para la sección. Ajusta este valor según sea necesario */
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


img, iframe {
width: 100%;
height: auto;
border-radius: 15px;
border: 4px solid white;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flourish-embed {
margin-bottom: 2em;
}

footer p {
font-size: 1rem;
}

@media (max-width: 768px) {
header, footer {
border-radius: 0;
}
}
/* Establece una relación de aspecto para los iframes */
.iframe-container {
    width: 100%; /* Ajusta el ancho según sea necesario */
    padding-bottom: 60%; /* Ajusta la proporción de altura a un valor que funcione bien para tu contenido */
	padding-right: 0;
    height: 0; /* Esto mantiene la proporción */
    position: relative;
    margin-bottom: 20px; /* Ajusta el margen entre iframes */
}



#text-section {
    background-color: #f9f9f9; /* Color de fondo ligero para la sección de texto */
    border-radius: 10px; /* Bordes redondeados para seguir con el estilo de la página */
    padding: 20px; /* Espaciado interno para el contenido de la sección */
    margin: 20px 0; /* Margen arriba y abajo para separar de otras secciones */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil para darle profundidad */
}

#text-section p {
    color: #666; /* Color más claro para el texto para facilitar la lectura */
    line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
	font-size: 20rem;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    border-radius: 15px;
	margin-bottom: 0;
}

#text-section {
    background-color: #f9f9f9; /* Color de fondo ligero para la sección de texto */
    border-radius: 10px; /* Bordes redondeados para seguir con el estilo de la página */
    padding: 20px; /* Espaciado interno para el contenido de la sección */
    margin: 20px 0; /* Margen arriba y abajo para separar de otras secciones */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra sutil para darle profundidad */
}

#text-section h2 {
    color: #333; /* Color oscuro para el título para mejor contraste */
    margin-bottom: 10px; /* Espacio debajo del título */
}

#text-section p {
    color: #666; /* Color más claro para el texto para facilitar la lectura */
    line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
}

